.rodapie{
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
}
@media screen and (min-width: 0px){
  .rodapie{
    flex-direction: column;
    background-color: silver;
    padding-top: 1rem;
    justify-content: center;
  }
}
@media screen and (min-width: 768px){
  .rodapie{
    flex-direction: row;
    padding-top: 5rem;
    justify-content: space-between;
    background-color: white;
  }
}
